form {
    padding-left: 500px;
    margin: 20px;
}
button {
    width: 90px; 
    text-align: center;
    background-color: green;
    height: 35px;
    color: white;
    border-radius: 3px;
    border: none;
}
input, select ,textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black ;
    width: 300px;
    height: 32px;
    border-radius: 3px;
}
* {
    font-family: 'Times New Roman', Times, serif;
}
